* ::before,
::after {
    box-sizing: border-box;
}

.kYnBwu {
    background-color: rgb(239, 239, 239);
}

.jFkAwY {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.kYnBwu .breadcrumb {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
}

.hjpGLl {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 40px;
    margin-right: 25px;
    color: rgb(153, 153, 153);
    font-size: 13px;
    font-weight: 300;
    white-space: nowrap;
}

i {
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 19px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


/*
Container */
.jFkAwY {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.gQLVSm {
    display: flex;
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 4px 4px;
}

.kQvKqX {
    padding: 24px 24px 24px 20px;
    border-right: 2px solid rgb(247, 247, 247);
    position: relative;
}

.kQvKqX .group-images {
    display: flex;
}

.kQvKqX .group-images .images {
    display: flex;
    flex-direction: column;
    min-width: 70px;
}

.kQvKqX .group-images .images a.active {
    border-color: rgb(24, 158, 255);
}

.kQvKqX .group-images .thumbnail {
    margin-left: 24px;
    text-align: center;
}

.jcyqbC {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 390px;
    height: 390px;
}

.jcyqbC .container {
    position: relative;
    display: flex;
    width: 390px;
    height: 390px;
}

.jcyqbC .container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.kQvKqX .group-images .thumbnail p {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 8px 0px 0px;
    color: rgb(36, 36, 36);
    font-size: 12px;
}

.kQvKqX .group-images .thumbnail p svg {
    margin-right: 3px;
    color: rgb(153, 153, 153);
    font-size: 16px;
}

.hyGdiA {
    flex: 1 1 0%;
}

.hyGdiA .header {
    padding: 16px 24px;
}

.hyGdiA .border-bottom {
    border-bottom: 1px solid rgb(236, 236, 236);
}

.hyGdiA .header .title {
    margin: 0px;
    color: rgb(51, 51, 51);
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
}

.hyGdiA .icon-inline-with-title {
    margin: 0px 8px 0px 0px;
    display: inline-block;
}

.kYNzX {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 8px;
}

.iQZcjJ {
    margin: 0px;
    color: rgb(255, 193, 32);
    font-size: 14px;
}

.iQZcjJ i {
    margin-right: 0.1em;
}

.icomoon {
    display: inline-block;
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icomoon-star:before {
    content: '\e924';
}

.iQZcjJ .half-star:last-child {
    margin-right: 0px;
}

.kYNzX .number {
    cursor: pointer;
    margin: 0px 0px 0px 5px;
    color: rgb(0, 127, 240);
    font-size: 13px;
}

.hyGdiA .header .bestseller {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.hyGdiA .header .brand {
    display: flex;
    margin-top: 8px;
}

.hyGdiA .body {
    padding: 0px 24px;
}

.hyGdiA .body .summary {
    display: flex;
}

.hyGdiA .body .summary .left {
    flex: 1 1 0%;
    padding-right: 20px;
}

.hyGdiA .body .summary .left .group {
    padding: 20px 0px;
}

.hyGdiA .body .summary .left .price-and-icon {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.hyGdiA .body .summary .left .price {
    margin: 0px;
    color: rgb(255, 52, 37);
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

.hyGdiA .body .summary .left .original-price.first-child {
    margin: 10px 0px 0px;
}

.hyGdiA .body .summary .left .original-price span {
    color: rgb(255, 52, 37);
    font-weight: 400;
}

.hyGdiA .body .summary .left .original-price {
    margin: 6px 0px 0px;
    color: rgb(155, 155, 155);
    font-size: 13px;
    font-weight: 300;
}

.hyGdiA .body .summary .left .group {
    padding: 20px 0px;
}

.dJbIjB {
    display: flex;
    margin: 10px 0px 0px;
}

.fXfceZ .label {
    margin: 0px 0px 6px;
    color: rgb(123, 123, 123);
    font-size: 11px;
}

.fXfceZ .group-input {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.fXfceZ .group-input button:first-child {
    border-right: none;
    border-radius: 4px 0px 0px 4px;
}

.fXfceZ .group-input button {
    cursor: pointer;
    width: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(236, 236, 236);
}

.fXfceZ .group-input button,
.fXfceZ .group-input input {
    height: 30px;
    color: rgb(36, 36, 36);
    font-size: 14px;
    text-align: center;
    outline: none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.fXfceZ .group-input input {
    width: 40px;
    border: 1px solid rgb(236, 236, 236);
}

.fXfceZ .group-input button,
.fXfceZ .group-input input {
    height: 30px;
    color: rgb(36, 36, 36);
    font-size: 14px;
    text-align: center;
    outline: none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

button,
input {
    overflow: visible;
}

.dJbIjB .btn.btn-add-to-cart {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 57, 69);
}

.dJbIjB .btn {
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 190px;
    width: 100%;
    height: 40px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    outline: none;
}

.dJbIjB .btn span {
    margin-right: 8px;
}

.tikicon.icon-add-to-cart2x {
    background-image: url(../img/sprite.png?v=100000000);
    background-position: -362px 0px;
    width: 25px;
    height: 20px;
}

.dJbIjB .btn-add-favorite {
    cursor: pointer;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 40px;
    padding: 0px;
    color: rgb(133, 133, 133);
    font-size: 24px;
    background-color: transparent;
    border: none;
    outline: none;
}

/* Right */
.hyGdiA .body .summary .rightLike {
    padding-bottom: 20px;
    width: 220px;
}

.hyGdiA .body .summary .rightLike .group {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 4px;
}

.hyGdiA .body .summary .rightLike .group {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 4px;
}

.hyGdiA .body .summary .rightLike .social-buttons {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 10px;
}

.fb_iframe_widget {
    display: inline-block;
    position: relative;
}
